.popUp {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1032;
}

.popUp_active {
    display: block;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.popUp__card {
    background-color: rgb(255, 255, 255);
    padding: 70px 48px;
    text-align: left;
    position: relative;
}

.popUp__card_noPad {
    padding: 0px 0px;
}

.popUp__card_none {
    display: none;
}

.popUp__question {
    width: 396px;
    height: 480px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.popUp__success {
    width: 389px;
    height: 155px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popUp__success h4 {
    display: inline-block;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
}

.popUp__head {
    display: inline-block;
    width: 100%;
    margin-bottom: 35px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #000000;
}

.popUp__input {
    display: inline-block;
    height: 30px;
    width: 100%;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 7px 10px;
    color: rgb(39, 39, 39);
    border-radius: 5px;
    box-sizing: border-box;
}

.popUp__input::-webkit-input-placeholder,
.popUp__input::-moz-placeholder,
.popUp__input:-moz-placeholder,
.popUp__input:-ms-input-placeholder,
.popUp__text::-webkit-input-placeholder,
.popUp__text::-moz-placeholder,
.popUp__text:-moz-placeholder,
.popUp__text:-ms-input-placeholder {
    color: #A2A2A2;
}

.popUp__label {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    padding: 0px 0px;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-align: left;
}

.popUp__text {
    display: inline-block;
    width: 100%;
    height: 120px;
    overflow-y: scroll;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    padding: 8px 10px;
    color: rgb(39, 39, 39);
    border-radius: 5px;
    box-sizing: border-box;
}

.popUp__text::-webkit-scrollbar {
    width: .5em;
}

.popUp__text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.popUp__text::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.popUp__input,
.popUp__text {
    outline: none;
}

.popUp__btn {
    width: 146px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 20px;
    color: #FFFFFF;
    cursor: pointer;
    background: #5A85D4;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.popUp__btn:active {
    background: #5A85D4;
    outline: none;
    -webkit-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.popUp__btn:hover {
    outline: none;
}

.popUp__close {
    position: absolute;
    top: 19.25px;
    right: 19.25px;
    height: 16px;
    width: 16px;
    font-size: 2.2rem;
    padding: 0px 0px;
    margin: 0px auto;
    color: black;
    line-height: 16px;
    cursor: pointer;
}