.personal-account {
    width: 100%;
    background-image: url(./../../img/laptopContactInfo.png);
    background-repeat: no-repeat;
}

.personal-account__inner {
    width: 100%;
    padding: 50px 80px 50px 80px;
}

.personal-account__navigation {
    width: 290px;
    height: 270px;
    background: #FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.41);
    box-shadow: 0px 0px 17px 4px rgba(0,0,0,0.41);
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 88px;
    padding: 30px;
}

.personal-account__title {
    margin-bottom: 50px;
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    align-items: center;
    color: #000000;
}

.personal-account__content-wrapper {
    display: flex;
    justify-content: space-between;
}

.personal-account__content {
    width: 840px;
}

.personal-account__navigation-title {
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.5px;
    color: #000000;
    margin-bottom: 30px;
}

.personal-account__navigation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.personal-account__navigation-list-item:not(:last-child){
    margin-bottom: 15px;
}

.personal-account__navigation-text {
    /* font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px; */
}

.personal-account__navigation-list-link {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    color: #000;
}

.personal-account__navigation-list-link:hover {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.personal-account__navigation-list-link:active {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}