.main-header {
    display: flex;
    flex-direction: column;
    background: #EFF3F5;
    box-shadow: 0 2px 30px rgba(196, 196, 196, 0.25);
}

.header-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 80px;
    font-family: Roboto sans-serif;
}

.header-up * {
    margin: 0 0 0 30px;
    color: #000000;
    font-style: normal;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
}

.header-up *:hover {
    color: #000000;
    text-decoration: none;
}

.header-up-adress {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.header-up-email {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.header-up-phone {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
}

.header-up-button {
    padding: 8px 20px;
    border-radius: 4px;
    -moz-box-shadow: inset 0 0 0 1px #445B94;
    -webkit-box-shadow: inset 0 0 0 1px #445B94;
    box-shadow: inset 0 0 0 1px #445B94;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.header-up-button:hover {
    box-shadow: 0 0 0 2px #445B94;
}

.header-up-button:active {
    box-shadow: none;
    font-weight: 200;
}

/*@-moz-document url-prefix() {
    .header-up-button {
        margin: 1.5px;
    }
    .header-up-button:hover {
        margin: 0.5px;
    }
    .header-up-button:active {
        margin: 2.5px;
    }
}*/

.header-logo-image-link {
    position: absolute;
    top: 24px;
    left: 80px;
}

.header-logo-image {
    fill: #020414;
}

.header-logo-image:hover {
    /*filter: drop-shadow(2px 2px 0.3px rgb(196, 196, 196));*/
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.25));
}

.header-horizontal {
    display: block;
    width: 100%;
    height: 1px;
    background: #E3E3E3;
}

.header-down-menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin: 0;
    padding: 13px 80px;
    list-style: none;
}
.header-down-main-menu-item {
    margin-left: 68px;
}

.header-down-main-menu-link {
    text-decoration: none;
    padding-bottom: 3px;
}

.header-down-main-menu-link-text {
    font-family: 'roboto-light', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1px;
    color: #000000;
    word-wrap: normal;
}

.header-down-main-menu-link:hover {
    border-bottom: 1px solid #EF3124;
    text-decoration: none;
}

.header-down-main-menu-link:active {
    border-bottom: 1px solid #EF312400;
}

.header-down-main-menu-link:active .header-down-main-menu-link-text {
    font-family: 'roboto-thin', sans-serif;
}
